name: PR Preview Cleanup
on:
  pull_request:
    types: [ closed ]
  
jobs:
  prune:
    runs-on: ubuntu-latest
    steps:
      - run: echo shutdown deployment

      # TODO https://github.com/bobheadxi/deployments/issues#step-delete-env
      - name: mark environment as deactivated
        uses: bobheadxi/deployments@v1
        with:
          step: deactivate-env
          token: ${{ secrets.GITHUB_TOKEN }}
          env: preview-${{ github.event.pull_request.number }}
          desc: PR was closed
